.content {
    display: flex;
    height: 150vh;
    align-items: center;
    flex-direction: column;
    overflow-y: auto !important;
}

.card {
    background-color: white;
    height: 40vh;
    width: 90vw;
    margin-top: 20px;
    background-image: url('../../images/image1.jpg');
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 34px -16px #000000;
    box-shadow: 0px 0px 34px -16px #000000;
    display: flex;
    align-items: flex-end;
}

.card-header {
    width: 100%;
    height: 80px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    display: flex;
    align-items: center;
}

.card-header-text {
    margin: 0 0 0 20px;
    font-weight: bold;
}

.content-header{
    width: 100vw;
    height: 60px;
    background-color: none;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 20px;
}

.link{
    text-decoration: none;
}