.main{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-img{
    width:150px;
}

.login-form input{
    border:0;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    height: 40px;
    margin: 10px;
    padding: 0 0 0 10px;
}

.login-form p{
    margin: 0 10px 0 10px;
    color: #8E8E8E;
    width: 80vw;
    font-size: 14px;
}

.login-btn{
    border:0;
    background-color: #F2F2F2;
    width: 150px;
    height: 40px;
    border-radius: 40px;
    color: black;
    font-size: 14px;
    margin: auto;
    margin-top: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}