@media (prefers-color-scheme: dark) {
    .register-form input,.login-form input, .menu-bottom,.user-data input{
        border: 1px solid #2e2e2e !important;
        background-color: #2e2e2e;
    }
    .register-form button,.login-btn, .menu-bottom{
        background-color: #262626 !important;
        color: rgb(255, 255, 255) !important;
    }
    .device{
        background-color: #262626;
        color: white;
    }
    .Header-Top,.Detail-Header{
        background-color: black !important;
    }
    .IonTool{
        --background:#000 !important;
        --border-color: #000 !important;
    }
}