.Detail-Header{
    width: 100vw;
    height: 120px;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content:center;
    padding:0;
}

.Detail-Header div p{
    font-weight: bold;
    margin:0;
}

.Detail-Header div a img{
    width: 15px;
}