.Header-Top{
    width: 100vw;
    height: 120px;
    background-color: white;
    display: flex;
    align-items: flex-end;
    padding: 0 0 0 20px;
}

.Header-Top p{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    height: min-content;
}