.settings-content{
    height: auto;
    width: 100vw;
    padding: 20px 20px 0 20px;
}

.flex-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.flex-wrapper div{
    width: 45%;
}

.user-data input{
    border:0;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    padding: 0 0 0 10px;
}

.user-data p{
    margin: 0 0 10px 0;
    color: #8E8E8E;
    width: 80vw;
    font-size: 14px;
}

ion-button{
    margin: 30px 0 0 0 !important;
}