.detail-content{
    -webkit-box-shadow: 0px 0px 34px -16px #000000 inset;
    box-shadow: 0px 0px 34px -16px #000000 inset;
    width: 100vw;
    height: 150vh;
    padding: 30px 10px 10px 10px;
}

.detail-content p{
    margin: 0 0 40px 0;
}

.player-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }