.device-list{
    list-style: none;
    padding: 0;
    width: 95vw;
}

.device-list a{
    color: black;
    text-decoration: none;
}

.device{
    -webkit-box-shadow: 0px 0px 22px -16px #000000;
    box-shadow: 0px 0px 22px -16px #000000;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.device div{
    width: 15px;
    height: 100%;
    background-color: #EF5D50;
    border-radius: 20px 0 0 20px;
}

.device h3{
    margin: 0 0 0 20px;
}

.device-list-wrapper{
    display: flex;
    justify-content: center;
}