.menu-bottom{
    width: 100vw;
    height: 100px;
    background-color: #F9F9F9;
    border-top: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.menu-bottom ul{
    list-style: none;
    padding: 0 0 10px 0;
    margin:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-bottom ul li{
    float: left;
    margin: 0 10px 0 10px;
}

.menu-bottom ul li a{
    color: black;
}

.menu-bottom ul li a img{
    width: 20px;
}